<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Blog Site</title>
	<div th:replace="/fragments/styling :: head-style" ></div>
</head>
<body>
<div th:replace="fragments/navbar :: navbar" ></div>
<div class="container">
<!--	<div class="row">-->
<!--		<div class="col-md-12">-->
<!--			<div class="panel panel-primary">-->
<!--				<div class="panel-heading">-->
<!--					<h1 th:text="${title}"></h1>-->
<!--				</div>-->
<!--				<div class="panel-body">-->
<!--					<strong><p th:text="${author}"/></strong>-->
<!--					<p th:text="${blogEntry}" />-->
<!--				</div>-->
<!--				<div class="panel-footer">-->
<!--					&lt;!&ndash; Link to Update &ndash;&gt;-->
<!--					&lt;!&ndash; Link to Show  &ndash;&gt;-->
<!--					&lt;!&ndash;  Link to Destroy &ndash;&gt;-->
<!--					<a th:href="@{/}"><button class="btn btn-success">Back To Home Page</button></a>-->
<!--					<a th:href="@{/blogposts/new}"><button class="btn btn-primary">Submit a New Blog Post</button></a>-->
<!--				</div>-->
<!--			</div>-->
<!--		</div>-->
<!--	</div>-->

	<div class="row">
		<div class="col-xl">
			<h3>This post has been deleted.</h3>
		</div>
	</div>

	<div class="row">
		<div class="col-md">
			<a href="/">
				<button class="btn btn-primary">Return Home</button>
			</a>
			<a href="/blogposts/new">
				<button class="btn btn-secondary">Create Another Blog Post</button>
			</a>
		</div>
	</div>
</div>
<div th:replace="/fragments/styling :: body-links" ></div>
</body>
</html>